{% extends "impl_solid.j2" %}

{% block summary %}
<p>
  Dit implementatiemodel is gebaseerd op
  het <a href="https://www.w3.org/TR/vc-data-model/">W3C Verifiable Credentials Data Model</a> alsook
  op <a href="https://data.vlaanderen.be/ns/persoon/">OSLO Persoon</a>,
  dat op zijn beurt gebaseerd is op <a href="https://semiceu.github.io/Core-Person-Vocabulary/releases/2.1.0/">SEMIC Core Person</a>.
</p>
<p>
  Deze specificatie beschrijft de concepten die nodig zijn om persoonsgegevens te modelleren,
  zoals deze beschikbaar zijn in het Rijksregister. 
</p>
<p>
  Dit model beschrijft hoe een Persoon eigenaar kan zijn van een PersoonCredential,
  waarin persoonidentificerende gegevens vervat zitten zoals:
  identificatoren, namen, adressen, geboortedatum en -plaats, nationaliteiten, burgerlijke staat, inwonerschap en staatsburgerschap.
</p>
{% endblock %}
